$main-color-1: #4c6ef5;
$main-color-2: #748ffc;
$main-color-3: #91a7ff;
$main-color-4: #bac8ff;
$main-color-5: #dbe4ff;
$main-color-1-transparent:#4c6ef5d4;
$accent-color: #dbbb3b;
// $accent-color: #d9b93b;
$grey-color-1: #495057;
$grey-color-2: #adb5bd;
// $grey-color-3: #b9b9b9;
$background-color: #e9ecef;


