<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/css/main.css" />
    <link rel="shortcut icon" type="image/png" href="/svg/icons.svg" />
    <script defer src="/scripts/jquery-3.6.0.min.js"></script>
    <script defer src="/scripts/jquery-ui.js"></script>
    <script defer src="/scripts/jquery.throwableEDIT.js"></script>
    <script defer src="/scripts/main.js"></script>
    <title>Bright Kingsley</title>
  </head>

  <body>
    <div class="container">
      <section class="hero-section">
        <div class="hero-texts">
          <div class="drop symbol symbol-1">{</div>
          <div class="drop letter letter-h" style="z-index: 1000">H</div>
          <div class="drop letter letter-e" style="z-index: 1000">E</div>
          <div class="drop letter letter-l" style="z-index: 1000">L</div>
          <div class="drop letter letter--l" style="z-index: 1000">L</div>
          <div class="drop letter letter-o" style="z-index: 1000">O</div>
          <div class="drop symbol symbol-2">}</div>
        </div>
        <!-- <div class="hero-texts-2">
          <div class="drop letter letter-o" style="z-index: 1000">W</div>
          <div class="drop letter letter-o" style="z-index: 1000">O</div>
          <div class="drop letter letter-o" style="z-index: 1000">R</div>
          <div class="drop letter letter-o" style="z-index: 1000">L</div>
          <div class="drop letter letter-o" style="z-index: 1000">D</div>
        </div> -->
        <!-- <div class="letter letter-t"></div> -->
        <div class="hero_img_container">
          <img class="hero_img" src="/img/photo-1.jpeg" alt="" />
        </div>
        <!-- <div class="video-wrapper"> -->
        <!-- <video
          src="/video/pexels-9.mp4"
          loop="loop"
          autoplay="autoplay"
          playinline
          muted="muted"
          class="hero_vid"
        ></video>
        <video
          src="/video/pexels-9.mp4"
          loop="loop"
          autoplay="autoplay"
          playinline
          muted="muted"
          class="hero_vid-sm"
        ></video>
      </div> -->
      </section>

      <section class="observe section section-1" id="1">
        <div class="section-1_container">
          <div class="section-1_left">
            <div class="section-1_left_text">
              <div class="section-1_left_text-h2_wrapper h2-underline">
                <h2>About Me</h2>
              </div>
              <p>
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                repellendus libero assumenda dolorum praesentium ratione
                accusamus harum autem illo aspernatur soluta odit distinctio
                illum dolor eius, non eos hic odio? Porro minus modi
                voluptatibus veniam, pariatur sed placeat soluta quis optio quia
                voluptates, voluptas inventore dolorum maxime temporibus
                accusamus exercitationem corporis maiores eaque? Fugiat
                aspernatur pariatur laboriosam maxime deleniti doloribus
                explicabo neque qui aliquid, ab officia similique consequuntur
                corporis dignissimos eveniet ad quasi, in, totam excepturi
                aperiam reiciendis. Eos, vitae omnis? Eveniet modi provident
                corrupti blanditiis excepturi veniam! Aut enim a ducimus et,
                officiis doloribus at quis numquam unde recusandae? -->
                My name is Bright Kingsley. I am an 18 year old frontend web
                developer, with about 7 months of experience designing useful
                and approachable user interfaces. I have knowledge in many
                aspects of design best practices and emerging UI development
                techniques. I am skilled at employing frameworks, as well as
                designing customized UI/UX profiles for specific client needs. I
                look forward to connecting and working with like minded tech
                enthusiasts while I learn new things and pick up new skills
                along my wonderful tech journey
              </p>
            </div>
            <div class="section-1_left-btn-container">
              <button>Work With Me</button>
            </div>
          </div>
          <div class="section-1_right">
            <div class="section-1_right-container">
              <div class="secion-1_img_back-color"></div>
              <img class="profile-img" src="/img/display-image.png" alt="" />
            </div>
          </div>
        </div>
      </section>

      <section class="observe section section-2" id="2">
        <div class="section-2_back-color"></div>
        <div class="section-2_container">
          <article class="section-2_article">
            <div class="section-2_text-h2_wrapper h2-underline">
              <h2>My Skillset</h2>
              <div class="section-2_text-h2_underline"></div>
            </div>
            <p>
              <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
            officiis dignissimos ratione dicta aspernatur corrupti inventore
            magnam, maxime incidunt nostrum voluptatum numquam deserunt nam
            ducimus asperiores minus, ex voluptatibus voluptatem, assumenda
            fuga, sed ipsam modi fugiat veritatis aliquid hic ipsa officiis
            maxime necessitatibus magnam iusto facilis, accusantium enim,
            nesciunt tenetur doloremque? Temporibus quisquam illo magnam
            voluptate soluta, at totam adipisci placeat obcaecati facere sunt
            blanditiis eaque molestias excepturi tempora exercitationem, ipsum
            esse repellendus molestiae hic corrupti. Eveniet aut, ducimus
            praesentium cum necessitatibus sapiente quis, consequuntur,
            perferendis quae fugit vero. Blanditiis, sint? Neque, aut! -->
            </p>
            <ul class="skillset-list">
              <li class="skillset-list-item skillset-list-item-1">
                <div class="check-container">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-arrow-right"></use>
                  </svg>
                </div>
                <p>
                  Building amazing website layouts with HyperText Markup
                  Language.
                </p>
              </li>
              <li class="skillset-list-item skillset-list-item-2">
                <div class="check-container">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-arrow-right"></use>
                  </svg>
                </div>
                <p>
                  Styling beautiful and responsive websites and web applications
                  with vanilla css, tailwincss and a css preprocessor- sass
                </p>
              </li>
              <li class="skillset-list-item skillset-list-item-3">
                <div class="check-container">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-arrow-right"></use>
                  </svg>
                </div>
                <p>
                  Building interactive websites and web applications with
                  proceedural and object-oriented javascript.
                </p>
              </li>
              <li class="skillset-list-item skillset-list-item-4">
                <div class="check-container">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-arrow-right"></use>
                  </svg>
                </div>
                <p>
                  Creating and maintaining smooth and optimsized single page
                  applications with react.
                </p>
              </li>
              <li class="skillset-list-item skillset-list-item-5">
                <div class="check-container">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-arrow-right"></use>
                  </svg>
                </div>
                <p>
                  Excellent comunication skills and prompt reply to calls and
                  messages
                </p>
              </li>
              <li class="skillset-list-item skillset-list-item-6">
                <div class="check-container">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-arrow-right"></use>
                  </svg>
                </div>
                <p>Critical thinking and high problem solving skills</p>
              </li>
            </ul>
          </article>
        </div>
        <!-- 
      <div class="skillset-list-img_wrapper skillset-list-img_wrapper-1">
        <img
          class="skillset-list-img skillset-list-img-1"
          src="/img/html-icon.png"
          alt=""
        />
      </div>
      <div class="skillset-list-img_wrapper skillset-list-img_wrapper-2">
        <img
          class="skillset-list-img skillset-list-img-2"
          src="/img/css-icon.png"
          alt=""
        />
      </div>
      <div class="skillset-list-img_wrapper skillset-list-img_wrapper-3">
        <img
          class="skillset-list-img skillset-list-img-3"
          src="/img/sass-icon.png"
          alt=""
        />
      </div> -->
        <!-- <div class="skillset-list-img_wrapper skillset-list-img_wrapper-4">
        <img
          class="skillset-list-img skillset-list-img-4"
          src="/img/tailwindcss-icon.png"
          alt=""
        />
      </div> -->
        <!-- <div class="skillset-list-img_wrapper skillset-list-img_wrapper-5">
        <img
          class="skillset-list-img skillset-list-img-5"
          src="/img/javascript-icon.png"
          alt=""
        />
      </div> -->
        <!-- <div class="react-container">
        <div class="react-axis">
          <div class="react-wrapper">
            <img class="react-img" src="/img/react-icon.png" alt="" />
          </div>
        </div>
      </div> -->
      </section>

      <!-- section #3 -->
      <section class="observe section section-3" id="3">
        <!-- <div class="section-3_back-color section-3_back-color-4"></div> -->
        <div class="section-3_container">
          <div class="section-3_h2_wrapper h2-underline">
            <h2>My Works</h2>
          </div>
          <div class="section-3_container-child">
            <div class="section-3_back-color section-3_back-color-1"></div>
            <div class="section-3_back-color section-3_back-color-2"></div>
            <div class="section-3_back-color section-3_back-color-3"></div>

            <div class="slide_btn slide_btn-left">
              <svg>
                <use xlink:href="/svg/icons.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="section-3_content_wrapper-wrapper">
              <div class="section-3_content-more">
                <a href="!#" class="link_container">
                  <div class="">
                    <svg>
                      <use xlink:href="/SVG/icons.svg#icon-link"></use>
                    </svg>
                  </div>
                </a>

                <div class="line-between"></div>
                <a href="!#" class="full-view_container">
                  <div class="">
                    <svg>
                      <use xlink:href="/SVG/icons.svg#icon-eye"></use>
                    </svg>
                    <!-- </div> -->
                  </div>
                </a>
              </div>

              <div class="section-3_content_wrapper">
                <div class="section-3_content">
                  <img src="/img/Screenshot (172).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (169).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (170).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (168).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (173).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
                <div class="section-3_content">
                  <img src="/img/Screenshot (174).png" alt="" />
                </div>
              </div>
            </div>
            <div class="slide_btn slide_btn-right">
              <svg>
                <use xlink:href="/svg/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="btn_exit-modal">
              <svg>
                <use xlink:href="/svg/icons.svg#icon-upload"></use>
              </svg>
            </div>
          </div>
          <div class="dots-container"><div class="dots"></div></div>
        </div>
      </section>

      <footer class="observe footer" id="4">
        <div class="footer_back-color"></div>
        <div class="footer-container">
          <div class="footer-left">
            <h2 class="footer-left-h2"></h2>
            <ul>
              <li>
                <a href="https://github.com/BrightKingsley">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/bright-kingsley-196542247">
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com/BriggSKvngZ?t=16jeXkK8sgjX4pYWc82egg&s=09"
                >
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/BriggSKvngZ"
                >
                  <svg>
                    <use xlink:href="/SVG/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-right">
            <h2><span> Send me </span>a message</h2>
            <div class="message_container">
              <form action="submit">
                <input type="text" placeholder="Your Name" />
                <input type="email" placeholder="Your Email" />
                <!-- <input type="number" placeholder="Your Number" /> -->
                <input type="text" placeholder="Your Subject" />
                <textarea
                  name="message"
                  placeholder="Enter message"
                  cols="30"
                  rows="10"
                  class="message_body"
                ></textarea>
                <button type="submit">submit message</button>
              </form>
            </div>
          </div>
        </div>
      </footer>

      <!-- Animations -->
      <div class="animation-container">
        <div class="animation-container-child">
          <div class="animation-axis animation-axis-1">
            <div class="animation-wrapper animation-wrapper-1">
              <div class="animation animation-1"></div>
            </div>
          </div>
          <div class="animation-axis animation-axis-2">
            <div class="animation-wrapper animation-wrapper-2">
              <div class="animation animation-2"></div>
            </div>
          </div>
          <div class="animation-axis animation-axis-3">
            <div class="animation-wrapper animation-wrapper-3">
              <div class="animation animation-3"></div>
            </div>
          </div>
          <div class="animation-axis animation-axis-4">
            <div class="animation-wrapper animation-wrapper-4">
              <div class="animation animation-4"></div>
            </div>
          </div>
          <div class="animation-axis animation-axis-5">
            <div class="animation-wrapper animation-wrapper-5">
              <div class="animation animation-5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
